<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Hello World</title>
		<meta charset="utf-8">
		<link rel="stylesheet" th:href="@{/css/custom.css}"/>
		<script th:src="@{/js/custom.js}"></script>  
	</head>

	<body>	
		<div sec:authorize="isAuthenticated()">
			<span>User Name: </span>
			<span sec:authentication="principal.attributes['preferred_username']"></span> <br/>
			<a th:href="@{/logout}">Logout</a>
		</div>
		<br/>
		<a th:href="@{/public}">Public Page</a> <br/>
		<a th:href="@{/secured}">Secured Page</a>		
	</body>

</html>