<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello World</title>
</head>
<body>
    <ul>
        <li>
            <span><b>Message from DB: </b></span>
            <span th:text="${message}"></span>
        </li>
        <li>
            <span><b>Id of BE: </b></span>
            <span th:text="${idBe}"></span>
        </li>
        <li>
            <span><b>Port of BE: </b></span>
            <span th:text="${portBe}"></span>
        </li>
    </ul>
</body>
</html>