services:

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:26.0
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command: ["start-dev", "--import-realm"]
    volumes:
      - ./realm-export.json:/opt/keycloak/data/import/realm-export.json
    ports:
      - "7070:8080"

  app:
    container_name: app
    image: app
    build:
      dockerfile: Dockerfile
    environment:
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI: http://keycloak:7070/realms/helloworld-realm
      SWAGGER_KEYCLOAK_ISSUER-URI: http://keycloak:7070/realms/helloworld-realm
    ports:
      - "8080:8080"