<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
	  	<title>Hello World</title>
	  	<meta charset="utf-8">  	
	</head>

	<body>
	   <h1>Register</h1>
	   <form th:action="@{/register}" method='POST'>	      
	      <table>
	         <tr>
	            <td>Email:</td>
	            <td><input type='text' name='email' /></td>
	         </tr>
	         <tr>
	            <td>Password:</td>
	            <td><input type='password' name='password' /></td>
	         </tr>
	         <tr>
	            <td><input name="submit" type="submit" value="Submit" /></td>
	         </tr>
	      </table>
	  </form>
	</body>
	
</html>